# Add any directories, files, or patterns you don't want to be tracked by version control
.idea
__pycache__
ve
output
data
.ipynb_checkpoints
*.aux
*.log
*.out
*.synctex.gz
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.pdf
*~
