tqdm
cloudpickle==1.3.0
cycler==0.10.0
future==0.18.2
gym==0.17.2
-e git+git@github.com:EhsanEI/gym-puddle.git@8f955941b1c3a1b4ee53754ae23aced091b32677#egg=gym_puddle
joblib==0.14.1
kiwisolver==1.2.0
matplotlib==3.2.1
numpy==1.18.4
pyglet==1.5.0
pyparsing==2.4.7
python-dateutil==2.8.1
scipy==1.4.1
six==1.14.0
